<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/starter-template/">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <link rel="stylesheet" href="//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="//unpkg.com/bootstrap-select@1.12.4/dist/css/bootstrap-select.min.css" type="text/css" />
  <link rel="stylesheet" href="//unpkg.com/bootstrap-select-country@4.0.0/dist/css/bootstrap-select-country.min.css" type="text/css" />

  <script src="//unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="//unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="//unpkg.com/bootstrap-select@1.12.4/dist/js/bootstrap-select.min.js"></script>
  <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  <!-- Bokeh stuff!-->
  <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.js"></script>

<style type="text/css">
	.bs-example {
		margin: 20px;
	}
  .form-control:focus {
      border-color: #3c9ae7;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(34, 149, 226, 0.5);
  }
</style>

<script src="https://kit.fontawesome.com/33f00e7b3f.js" crossorigin="anonymous"></script>

</head>


<!-- BODY HERE-->
<body>
    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>

    <style>
      .tooltip{
       font-size: 2rem;
      }
    </style>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ title }}</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">App</a></li>
              <!-- <li><a href="#about">About</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <br><br>

    <div class="container">
    <div class="starter-template">

    <div class="row">
      <div class="col-sm-11">
    <div class="w-75 p-3 mb-2 bg-success text-white" top>
          <h1>{{ title }}</h1>
          <h3>{{ tagline }} <i class="far fa-id-card"></i></h3>
          <p>{{ project_description }}</p>
    </div>
  </div>
  </div>
      
    <br>

    <div class="row">
    
    <form role="form" method='POST' action="{{ url_for('main') }}">
        <fieldset>
            <div class="col-sm-11">
            <div class="form-group">
              <legend>Applicant Information</legend>
              <div class="col-sm-6">
                <div class="row form-group"><!--width is set by this div -->
                  <div class="col-sm-6">
                    <label for="country" data-toggle="tooltip" title="Country of Chargeability">Country</label>
                    <div style="clear: both;"></div>
                    <select class="selectpicker countrypicker" data-flag="true" data-default={{ country }} name="myCountry"></select>
                    <script>
                      $('.countrypicker').countrypicker();
                    </script>
                  </div>
                  <div class="col-sm-6">
                      <label for="category" data-toggle="tooltip" title="Employment-based categories">Category</label>
                        <div style="clear: both;"></div>
                        <select class="selectpicker form-control" name="myCategory" data-default={{ category }}>
                          {% for x in category_list %}
                          {% if x == category %}
                          <option selected>{{ x }}</option>
                          {% else %}
                          <option>{{ x }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                  </div>
                </div>
                


                <div class="row form-group"><!--width is set by this div -->
                  <div class="col-sm-6">
                      <label for="startdate" data-toggle="tooltip" title="Notice Date / Receipt Date">Submission Date</label>
                      <div style="clear: both;"></div>
                      <div class="input-group date" data-provide="datepicker">
                          <input type="text" class="form-control" name='myDate' value={{ default_date }}>
                          <div class="input-group-addon">
                              <span class="glyphicon glyphicon-th"></span>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <label for="app_type" data-toggle="tooltip" title="Concurrent means you have submitted the I-140 and I-485 together">Concurrent Application?</label>
                      <div style="clear: both;"></div>
                      <select class="selectpicker" name="myCON" data-default={{ concurrency }}>
                        {% if concurrency == 'Concurrent' %}
                          <option selected>Concurrent</option>
                          <option>Non-concurrent</option>
                        {% else %}
                          <option>Concurrent</option>
                          <option selected>Non-concurrent</option>
                        {% endif %}
                      </select>
                  </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                      <label for="center" data-toggle="tooltip" title="Processing Center">Center</label>
                      <div style="clear: both;"></div>
                      <select class="selectpicker" name="myCenter" data-default={{ center }}>
                        {% for x in center_list %}
                        {% if x != "National Benefit Center"%}
                        {% if x == center %}
                        <option selected>{{ x }}</option>
                        {% else %}
                        <option>{{ x }}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <label for="app_type" data-toggle="tooltip" title="Applicant Type">Applicant Type</label>
                      <div style="clear: both;"></div>
                      <select class="selectpicker" name="myAppType" data-default={{ apptype }}>
                        {% if apptype == 'Primary' %}
                          <option selected>Primary</option>
                          <option>Dependent</option>
                        {% else %}
                          <option>Primary</option>
                          <option selected>Dependent</option>
                        {% endif %}
                      </select>
                    </div>
                </div>

                <div class="row  form-group"><!--width is set by this div -->
                  <div class="col-sm-12">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Predict!</button>
                  </div>
                </div>

                <!-- END OF LEFT COLUMN-->
                </div>

                <div class="col-sm-5">
                    {% if results %}
                    <h3 data-toggle="tooltip" title="i.e., 'Hazard Rate'">Prediction:</h3> 
                    <h4>The blue curve shows the fraction of similar cases that would have gotten approval.</h4>
                        {{ plot_div|safe }}
                        {{ plot_script|safe }}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </fieldset>
    </form>


  </div>
  <!-- END ROW-->

    <br>
    {% if results %}
    <div class="row">
      <div class="col-sm-11">
          <div class="alert alert-success" role="alert">
              <h2>The predicted median waiting time is {{ results.prediction_date }} months.</h2>
              <h3>75% of cases would be approved by {{ results.t75 }} months.</h3>
          </div>
        <!-- <div class="w-75 p-3 mb-2 bg-success text-white" bottom></div>-->
          <!-- <h2>{{ results.text }} </h2> -->
          
        
      
      </div>
    </div>
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.js"></script>
    </div>
    </div>



    
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>


<!-- Footer -->
<footer class="page-footer font-small blue">

  <br></br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>Kit Lee // Insight Fellow 2019C // Demo</p>
    <p>The date and time on the server is: {{ time }}. The CPU has {{ cpucount }} cores.</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
